/* 
[ class의 경우 ] - <div className="app"/>
.cc{}
[ id의 경우 ] - <div id="app"/>
#app{}
[ 최상위 element ] - 전역적으로 적용할때 쓰임 ( html을 의미 )
:root{
*/

:root {
  /* 브라우저가 처음에 있는 폰트부터 하나씩 시도 -> 첫번째 폰트부터 사용 */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* 간격 조절(default: 절대값 //상대도 가능) */
  /* line-height는 텍스트의 줄 간격을 조정하는 역할
  보통은 절대적인 값인 px 등으로 나타내지만, 상대적인 값으로 사용가능하다.
  이 속성이 적용된 element의 font-size에 대한 배수를 곱한 것.
  ex) font-size: 16px; -> line-height의 절댓값: 161.5px;*/
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  min-width: 300px;
  max-width: 500px;
  background-color: #1e1e1e;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

/*
opacity ( 0~1: 0: 안보임, 1: 뚜렷함, 0.5: 흐림 )
*/

/* 
  flex와 grid 둘 다 사용 가능함 
  flex에서 아래를 대체해서 place-items: center를 사용할 수 있다.
  justify-content: center;
  align-items: center;
  */

/*
  단위
  - 절대적 크기 단위
    [px]
      - 크기가 고정된 경우 사용 -> 다양한 화면 크기와 해상도에 따라서 동일한 크기를 갖게 한다.
      - 화면 상의 실제 픽셀 수를 기반으로 한다

  - 상대적 크기 단위
    [em]
    - 부모 요소의 font-size를 기준으로 상대적인 크기를 설정합니다.
    - ex) font-size: 3.2em; -> font-size: (16*3.2)px
    -> font-size를 설정할 수 있는 기능 -> fontSize: small, medium, large
    -> 최상위 부모에 font-size: small ? "12px" : medium ? "16px" : "20px";
    [rem]
    - 최상위 요소를 기준으로 상대적인 크기를 설정
    [%]
    [vw, vh]
  */

/* 
  transition은 요소의 스타일 변화가 부드럽게 일어나도록 하는 속성 
  [사용법]
  transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
  
  사용 가능한 transition-timing-function 값
  linear: 일정한 속도로 변화합니다.
  ease: 천천히 시작하여 빨라졌다가 다시 천천히 끝납니다.
  ease-in: 천천히 시작하여 점점 빨라집니다.
  ease-out: 빠르게 시작하여 점점 느려집니다.
  ease-in-out: 천천히 시작하여 중간에 빨라졌다가 다시 천천히 끝납니다.
  cubic-bezier(n,n,n,n): 사용자가 정의한 속도 곡선을 생성합니다.
*/

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
